/**
 * Hidden payment amount.
 */
.wp-block-pronamic-hidden-payment-amount {
	background: repeating-linear-gradient( 45deg, #FFF, #FFF 5px, #D3D3D3 0, #D3D3D3 6px );

	border: 1px dashed #D3D3D3;

	color: #808080;

	padding: 10px;
}
